
<footer>
    <div>
        Copyrights &#169; <script>document.write(new Date().getFullYear())</script>
    </div>
    <div class="mid">Made with &#128150; in India</div>
    <div class="info">Created by Suwethan &#127774;</div>
</footer>
</body>
</html>