<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/profile.png" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <title> Home </title>
</head>
<body>

    <div class="cont">
        <div class="info">
            <h2>Welcome,
                <%= user.name %>
            </h2>
            <a href="/logout">Logout</a>
        </div>
        <div class="body">
            <div class="p-info">
                <div class="title">Personal Info</div>
                <ul>
                    <li>Name: <%= user.name %> </li>
                    <li>E-mail: <%= user.username %> </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>